#mainbox{
  position: absolute;
  width: 550px;
  height: 530px;
  box-shadow: 18px 18px 1px 2px rgb(104, 80, 150);
  border-radius: 5%;
  padding-left: 10px;
  margin: auto;
  left: 45%;
  top: 20%;
  background-color:#F1ADC6;
}

body {
  background: url("../imgs/background.png") no-repeat;
  background-size: cover;
  padding-top: 0px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgba(68, 60, 60, 0.911);
}

input {
  display: block;
  width: 200px;
  padding-top: 8px;
  padding-bottom: 8px;
}

body {
  background: url("../imgs/background.png") no-repeat;
  background-size:cover;
  padding-top: 0px;
  margin: 0;
  padding: 0;
}

button {
  padding: 300px 10px;
}

a {
  text-decoration: none;
  color: rgba(68, 60, 60, 0.911);
}
input {
  display: block;
  width: 250px;
  padding-top: 8px;
  padding-bottom: 8px;
  box-sizing: border-box;
  border: none;
  background-color: #ffffff;
  border-radius: 15px;
  color: black;
  text-align: center;
}

.text1 {
  margin-bottom: 10px;
  outline: none;
}

p {
  font-family: "Poppins", sans-serif;
}

#submit {
  margin-left: 16%;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #46238A;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 10px 40px;
  color: white;
}

#generalPassword {
  margin-left: 20px;
}

#password {
  margin-bottom: 40px;
}