#mainbox{
    position: absolute;
width: 745px;
height: 730px;
left: 410px;
top: 140px;

background: #F8DAB3;
border-radius: 67px;
}
body {
    background: url("imgs/Layer.png") no-repeat;
    background-size:cover;
    font-family: "Poppins";
}
input {
    display: block;
    width: 600px;
  padding: 12px 20px;
  margin: 8px 70px;
  box-sizing: border-box;
  border: none;
  background-color: #E2B100;
  border-radius: 15px;
  color: rgb(151, 89, 17);
  font-family: "Arial";
  text-align: center;
  }

label{
    padding-left: 80px;
font-weight: bold;
font-size: 17px;
}

#register{
    position: absolute;
    margin-left: 312px;
    margin-top: 22px;
    padding-top: 15px;
  width: 125px;
  height: 40px;
  border-radius: 15px;
  background-color: #8D113D;
  padding-bottom:3px;
  }

a{
    text-decoration: none;
    color: white;
}

img{
    max-width: 100%;
    height: auto;
    margin-top: 100px;
    margin-left: 120px;
}